.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

._form_wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.51);
  width: 28em;
  height: auto;
  padding: 2em;
}

.submit-btn {
  text-decoration: none;
  color: #fff;
  background-color: #0a0a0a;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #ec704c;
}

.contact_msg {
  font-size: 4rem;
  margin: 2rem;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    margin: 0 1rem;
  }
  ._form_wrapper {
    width: 100%;
  }
}
